@namespace Skclusive.Blazor.Messenger.App.View

<div
    class="ChatList-Root">
    @foreach(var item in ChatItems)
    {
        <ChatListItem
            @key="@item"
            ChatItem="@item" />
    }
</div>

@code
{
    [Parameter]
    public IEnumerable<ChatItem> ChatItems { set; get; }
}
