@namespace Skclusive.TodoDesktop.Window
@inherits TodoComponent

@if (AppState.CompletedCount > 0)
{
    <button class="clear-completed" @onclick="@(e => AppState.ClearCompleted())">
        Clear completed
    </button>
}
