@inherits LayoutComponentBase

<div class="@RootClass">
    <MiniTopbar />
    <main class="@ContentClass">
        @Body
    </main>
</div>

@code
{
    private string RootClass => "mini-layout-root";

    private string ContentClass => "mini-layout-content";
}