<Drawer Open="@Open" 
        OnClose="@OnClose" 
        Anchor="@Placement.Start"
        Variant="@Variant"
        PaperClass="sidebar-drawer">
    <div class="sidebar-root">
        <Profile />
        <Divider Class="sidebar-divider"/>
        <Navigation Class="sidebar-nav" />
    </div>
</Drawer>

@code
{
    [Parameter]
    public bool Open { set; get; }

    [Parameter]
    public DrawerVariant Variant { set; get; }

    [Parameter]
    public Action OnClose { set; get; }
}