@namespace Skclusive.Blazor.TodoApp.Components
@inherits TodoComponent

<input class="toggle-all"
        id="toggle-all"
        type="checkbox"
        checked="@TodoStore.AllCompleted"
        @onchange="@(() => TodoStore.CompleteAll())"
        @onchange:preventDefault />
<label for="toggle-all">Mark all as complete</label>
