<div class="footer-root">
    <Typography Variant="@TypographyVariant.Body1">
        &copy;
        <a
            href="https://skclusive.io/"
            target="_blank"
        >
            Skclusive IO
        </a>. 2019
    </Typography>
    <Typography Variant="@TypographyVariant.Caption">
    Created with love for the environment. By designers and developers who
    love to work together in offices!
    </Typography>
</div>