@namespace Skclusive.Messenger.App.View

<div
    class="ChatsHeader-Container">
    <Avatar
        Alt="me"
        Src="https://i.pravatar.cc/300?img=10" />
    <Typography
        Variant="@TypographyVariant.H5"
        Class="ChatsHeader-Middle">
        <b>Chats</b>
    </Typography>
    <IconButton
        Class="ChatsHeader-Icon">
        <SettingsApplicationsIcon />
    </IconButton>
    <IconButton
        Class="ChatsHeader-Icon">
        <EditIcon />
    </IconButton>
</div>
