@namespace Skclusive.Blazor.TodoApp.Components
@inherits TodoAppComponent

 <div class="todoapp">
    <CascadingValue Value="TodoStore">
        <TodoHeader />
        <TodoSection />
    </CascadingValue>
</div>
