@namespace Skclusive.Blazor.TodoApp.Components
@inherits TodoComponent

<a class="@Class" style="cursor: pointer;" @onclick="OnFilter">
    @Title
</a>

@code {

    [Parameter]
    public Filter Filter { set; get; }

    protected bool Selected => TodoStore.Filter == Filter;

    protected string Class => Selected ? nameof(Selected).ToLower() : null;

    protected string Title => Filter.ToString();

    protected void OnFilter()
    {
        if (!Selected)
        {
            TodoStore.SetFilter(Filter);
        }
    }
}
