@namespace Skclusive.Blazor.TodoApp.Components
@using Skclusive.Core.Component

@inherits PureComponentBase

<footer class="footer">
    <TodoCount />
    <ul class="filters">
        @foreach (var filter in Filters)
        {
            <li @key="filter">
                <TodoFilter Filter="@filter"/>
            </li>
        }
    </ul>
    <TodoClear />
</footer>

@code {
    protected readonly static List<Filter> Filters = new List<Filter> { Filter.All, Filter.Active, Filter.Completed };
}
