@inherits ObservableComponentBase
@inject IAppState AppState

<div class="mb-4 d-flex align-items-center">
    <ul class="list-group">
        <li class="list-group-item d-flex align-items-center">
            <SearchResultFlightSegment Symbol="▶" Flight=Itinerary.Outbound />
        </li>
        <li class="list-group-item d-flex align-items-center">
            <SearchResultFlightSegment Symbol="◀" Flight=Itinerary.Return />
        </li>
    </ul>
    <div class="price ml-3">
        <h3>@Itinerary.Price.ToString("$0")</h3>
        <button class="btn" disabled="@Shortlisted" @onclick="@AddToShortlist">Add</button>
    </div>
</div>

@code
{
    [Parameter]
	public IItinerary Itinerary { set; get; }

    [Parameter]
	public bool Shortlisted { set; get; }

	private void AddToShortlist()
	{
		AppState.AddToShortlist(Itinerary.GetSnapshot<IItinerarySnapshot>());
	}
}
