@namespace Skclusive.Blazor.TodoDesktop.Components
@inherits TodoComponent

<input class="toggle-all"
        id="toggle-all"
        type="checkbox"
        checked="@AppState.AllCompleted"
        @onchange="@(() => AppState.CompleteAll())"
        @onchange:preventDefault />
<label for="toggle-all">Mark all as complete</label>
