@namespace Skclusive.Blazor.TodoDesktop.Components
@inherits TodoComponent

<section class="main">
    @if (HasTodos)
    {
        <TodoToggleAll />
    }
    <ul class="todo-list">
        @foreach (var todo in FilteredTodos)
        {
            <TodoItem @key="todo" Todo="@todo" />
        }
    </ul>
    @if (HasTodos)
    {
        <TodoFooter />
    }
</section>

@code {
    protected bool HasTodos => AppState.TotalCount > 0;

    protected IList<ITodo> FilteredTodos => AppState.FilteredTodos;
}
