@inherits DisposableComponentBase

<InjectedStyles />

<div id="search-and-results-area">
    <div id="search-area" class="px-2 py-3">
        <Search />
    </div>
    <div id="results-area">
        <Observable>
            <GreyOutZone IsGreyedOut=AppState.SearchInProgress>
                <SearchResults />
            </GreyOutZone>
        </Observable>
    </div>
</div>
<div id="selections-area" class="p-3 pl-4">
    <Shortlist />
</div>

<InjectedScripts />

@code
{
    [Inject]
    public IAppState AppState { set; get; }

    [Inject]
    public IAppService AppService { set; get; }

    [Inject]
    public IStateTreeTool<AppStateSnapshot> StateTreeTool { get; set; }

    protected override void OnInitialized()
    {
        StateTreeTool.Configure(AppState);
    }

    protected override async Task OnAfterMountAsync()
    {
        await StateTreeTool.ConnectAsync();

        await AppService.LoadAirportsAsync();
    }

    protected override async ValueTask DisposeAsync()
    {
        await StateTreeTool.DisposeAsync();
    }
}
